<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>Text Translator</title>
</head>
<body>
    <div style="text-align: center;" >
        <h1>Text Translation service</h1>
        <div>
            <a href="ja">
                <button style="background: #9b979e; height: 100px; width: 200px; margin-top : 20px;" type="button" >Japanese to English</button>
            </a>
        </div>
<br>
        <div>
            <a href="ja">
                <button style="background: #70a051; height: 100px; width: 200px; margin-top : 20px;" type="button" >English to Japanese</button>
            </a>
         </div>

</body>
</html>