<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>Text Translator</title>
</head>
<body>
    <div style="text-align: center;" >
        <div style="font-size: 20px;">Enter the text you wish to translate and click Translate button</div>
        <div>
            <form method="POST">
                <div class="form-group">
                    <textarea style="width: 50%; height: 150px; margin-top : 20px;" name="text" class="form-control"></textarea>
                    <br>
                    <div>
                        <button style="background: #0066A2; height: 50px; width: 100px; margin-top : 20px;" type="submit" >Translate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>